extends layout

include mixins/_reviewForm
include mixins/_review

block content
	.single
		.single__hero
			img.single__image(src=h.showPhoto(store.photo))
			h2.title.title--single
				a(href=`/store/${store.slug}`)= `${store.name} - ${store.author.name}`

		.single__details.inner
			img.single__map(src=h.staticMap(store.location.coordinates))
			p.single__location= store.location.address

			if scores
				.reviewer.text-center.info-store
					p.rating
						span#nmberOfRating #{scores.total}
						|  rating
					p.star #{parseFloat(scores.average).toFixed(2)} / 5 ★
					if(hearts)
						p.heart
							span #{hearts.total}
							| !{h.icon("heart")}

			p= store.description

			if store.tags
				ul.tags
					each tag in store.tags
						li.tag
							a.tag__link(href=`/tag/${tag}`)
								span.tag__text ##{tag}

			if user
				.reviewer.rate-heart
					form#rating(action=`/store/rate/${store._id}` method="POST")
						.rating-stars
							p Your rating:&nbsp;
							each num in [5,4,3,2,1]
								button(type="button" data-rating=num class=rating===num ? "active" : "") ★
						input(type="hidden" nane="rating" value=0)
					form.heart(action=`/store/heart/${store._id}` method="POST")
						- const heartClass = hearted ? "heart__button--hearted" : ""
						p Heart:&nbsp;
						button.heart__button(type="submit" name="heart" class=heartClass) !{h.icon("heart")}
				+reviewForm(store)

			if reviews
				.reviews
					each review in reviews
						.review
							+review(review)
				form#loadReview(action=`/store/loadreview/${store._id}`, method="POST")
					button.btn.btn-block.young-passion-gradient(type="button"): span Load More 10 Reviews